.about-img{
  margin-right: auto;
  margin-left: auto;
}

.about-me{
}

@media (min-width: 768px) {

  .mastfoot {
    position: fixed;
    bottom: 0;
    left: -10%;
  }

  /* Start the vertical centering */

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

  .cover{
    margin-top: 75px;
  }

}


@media (min-width: 992px) {
  .mastfoot {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .masthead,
  .cover-container {
    width: 950px; /* Must be percentage or pixels for horizontal alignment */
  }

  .mastfoot{
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

  .cover{
    margin-top: 0px;
  }

}
